<% form_for(@share, :url => (@share.new_record? ? document_shares_path : document_share_path) ) do |form| %>

  <p class="input_title">User login</p>
  <p> <%= text_field_tag 'share[login]', @share.new_record? ? nil : @login %> </p>
  <p> <%= form.submit @share.new_record? ? "Create Share" : "Update Share" %> </p>

<% end %>
