<% form_for(@share, :url => (@share.new_record? ? document_shares_path : document_share_path) ) do |form| %>
  <% form.error_messages %>

  <%= form.text_field :owner_id %>
  <%= form.text_field :user_id %>
  <%= form.text_field :document_id %>

  <p>
    <%= form.submit @share.new_record? ? "Create Share" : "Update Share" %>
  </p>

<% end %>
