<%= render :partial => 'layouts/flash_messages' %>

<h1>Change User</h1>

<%= render :partial => 'share_form', :object => @share, :as => :share %>

<%= link_to 'Cancel', @document, :class => 'icon_cancel action' %>
