<div class="pagination">
  <%= will_paginate @users, :container => false %>
  <div clas="page_info">
    <p><%= page_entries_info @users, :entry => 'pending user' %></p>
  </div>
</div>

<%= render :partial => 'user_table' %>
  <%= render :partial => 'user_row', :collection => @users %>
</table>
