<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<h2>Document Management System</h2>

<p>
Developed as part of the CSE 545: Software Security class.
</p>

<h3>Team:</h3>
<ul>
<%#<li>Anthony DiGirolamo</li>%>
<%#<li>Sanket Sheth</li>%>
<%#<li>Abhishikth Chandra</li>%>
<li>Design, Coding, and Testing: Anthony DiGirolamo</li>
<li>Additional Testing and Test Plan: Sanket Sheth</li>
<li>Additional Testing and User Guide: Abhishikth Chandra</li>
</ul>
</p>

<h3>Thanks to:</h3>

<p> Yusuke Kamiyamane at <a class="action icon_lol_green" href="http://www.pinvoke.com/">http://www.pinvoke.com/</a> for the Fugue Icon set,</p>
<%#<a class="action icon_cc "href="http://creativecommons.org/licenses/by/3.0/">&nbsp;</a>%>
<p>
and to <a class="action icon_ruby" href="http://rubyonrails.org/">Ruby on Rails </a> for a great MVC web application framework.
</p>
