<%= render :partial => 'layouts/user_bar' %>

<h2>Document Management System</h2>

Developed as part of the CSE 545: Software Security class project.

<h3>Team:</h3>
<ul>
<li>Anthony DiGirolamo</li>
<li>Sanket Sheth</li>
<li>Abhishikth Chandra</li>
</ul>
</p>

<h3>Thanks to:</h3>

<p> Yusuke Kamiyamane at <a href="http://www.pinvoke.com/">http://www.pinvoke.com/</a> for the Fugue Icon set.  </p>

