<h1 id="">Document Management System</h1>

<% if @user %>
	<%= h @user.name %>
	|
	<%= link_to 'Logout', '/logout' %>
<% else %>
	<%= link_to 'Login', '/login' %>
	|
	<%= link_to 'Register', '/register' %>
<% end %>

