<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<h2>Welcome to the Document Management System!</h2>

<%= link_to 'About This Application', about_path, :class => 'request_index action' %>
