<table border="0" cellspacing="0" cellpadding="5" class="pad_bottom">
  <tr>
    <th> <%= sort_link_helper "Name", "name", "index" %> </th>
    <th> <%= sort_link_helper "Size", "document_file_size", "index" %> </th>
    <th> <%= sort_link_helper "Updated", "updated_at", "index" %> </th>
    <th></th>
  </tr>

<%= render :partial => 'document_row', :collection => @documents, :as => :document %>

</table>
