<%= render :partial => 'layouts/user_bar' %>
<%= render :partial => 'layouts/flash_messages' %>

<h2>My Departments</h2>
<% for department in @departments -%>
<p>
<%= link_to department.name, department_documents_path(department.id), { :title => "Manage documents for the "+department.name+" department.", :class => 'action icon_folder_document' } %>
</p>
<% end -%>
