<%= render :partial => 'layouts/flash_messages' %>

<h1>Editing document</h1>

<% form_for @document, :html => { :multipart => true } do |f| %>

  <%= render :partial => 'document_form' %>

  <p><%= f.submit 'Update' %></p>

<% end %>

<%= link_to 'Cancel', @document, :class => 'icon_cancel action' %>
