<%= render :partial => 'layouts/flash_messages' %>

<h1>New document</h1>

<%= render :partial => 'document_form', :object => @document, :as => :document %>

<%= link_to 'Cancel', documents_path, :class => 'icon_cancel action' %>
