<tr class="<%= cycle("odd","even") %>">
  <td>
    <%= link_to h(audit.user.login), audit.user, :class => "action icon_user_card" unless audit.user.nil? %>
    <%#= h audit.user.login unless audit.user.nil? %>
  </td>
  <%#<td>%>
    <%#= h audit.document.name unless audit.document.nil? %>
  <%#</td>%>
  <%#<td>%>
    <%#= h audit.share.user.login unless audit.share.nil? %>
  <%#</td>%>
  <td>
    <%= h format_short_time(audit.created_at) %>
  </td>
  <td>
    <%= h audit.action unless audit.action.nil? %>
  </td>
</tr>
